{% extends 'NoIncSimpleStorefrontBundle:Default:base.html.twig' %}

{% block body %} 

<div class="container">

    <ul class="nav nav-pills">

        <li class="active"><a data-toggle="pill" href="#pricing_table1">Make Products</a></li>

        <li><a data-toggle="pill" href="#pricing_table2">Buy Ingredients</a></li>

    </ul>

	<div class="tab-content">

        <div class="tab-pane fade in active" id="pricing_table1">

	        <div class="row">

				{% for recipe in recipes %}
					{% include 'NoIncSimpleStorefrontBundle:Default:product-make.html.twig' with {'recipe': recipe} %}
				{% endfor %}
				
			</div><!-- /.row -->
    
	    </div><!-- /.tab-pane -->

        <div class="tab-pane fade" id="pricing_table2">

	        <div class="row">

					{% for recipe in recipes %}
						{% for recipeIngredient in recipe.recipeIngredients %}
							{% include 'NoIncSimpleStorefrontBundle:Default:ingredient-buy.html.twig' with {'ingredient': recipeIngredient.ingredient} %}				
						{% endfor %}
					{% endfor %}			
				
            </div><!-- /.row -->

	    </div><!-- /.tab-pane -->
	
    </div><!-- /.tab-content -->

</div><!-- /.container -->
	{{ dump(recipes) }}
{% endblock %}
