<form action="{{ path('clear_recipe', {'recipe_id': recipe.id}) }}" method="post">

    <button type="submit" class="btn btn-lg btn-embossed btn-block btn-primary"><span class="fa"></span>Remove Item</button>

</form>
